# IRC-Server to join? Example: irc.freenode.net
irc = irc.quakenet.org        

# Port of the Server to connect to
port = 6667

# use ssl?
#use_ssl

# verify ssl connection?
#ssl_verify

# ca path to use
#ssl_ca_path = "/etc/ssl/certs"

# host certificate
#ssl_client_cert = ""

# Which nick to use?
nick = rubybot

# Which channel to join?
channel = "#rib"

# Authentification command send as privmsg
#auth = "Q@CServe.quakenet.org auth rubybot sEcReTpAsSwOrD"

# Character which triggers the bot to do something
tc = !

# password for interacting with the bot 
password = "rib"

# Message when bot leaves
qmsg = "See you later, shitlords!"

# File for linkdumping. absolute or relative to main folder
linkdump = "./yaylinks"

# Link to linkdump blog
dumplink = "https://www.linkdumpiorrrr.de"

# Link to help page 
helplink = "https://github.com/aibor/rib/wiki"

# Print HTML-title of a posted url if set.
title

# Appreciate ponies
#pony
